# Файлы конфигурации операционных систем
Thumbs.db
.DS_Store

# Кэш Python
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Виртуальное окружение (укажите имя вашей папки, например env или .venv)
env/
venv/
.venv/
ENV/

# Локальная база данных SQLite
*.sqlite3
*.db

# Медиа-файлы и статика (чтобы не засорять репозиторий загруженными фото)
media/
staticfiles/

# Настройки сред разработки (IDE)
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
